#s-087d7788-573d-40b5-b2be-10a99ee5e40f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-087d7788-573d-40b5-b2be-10a99ee5e40f #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-087d7788-573d-40b5-b2be-10a99ee5e40f #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-087d7788-573d-40b5-b2be-10a99ee5e40f #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-087d7788-573d-40b5-b2be-10a99ee5e40f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}