#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Input-form {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 667px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Cell-header .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Cell-header .verticalalign {
  vertical-align: middle;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Cell-header {
  width: 375px;
  height: 64px;
  background-color: #F6F6F6;
  background-image: none;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Button_6 {
  position: absolute;
  top: 27px;
  left: 294px;
  width: 69px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Button_6 span {
  color: #22B573;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #22B573;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_89 {
  position: absolute;
  top: 27px;
  left: 107px;
  width: 163px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.000001pt;
  font-family: Roboto-Regular,Arial;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_89 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_89 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.000001pt;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_89 span#rtr-s-Label_89_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.000001pt;
  line-height: 0px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Group_25 {
  position: absolute;
  top: -4px;
  left: 4px;
  width: 365px;
  height: 22px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_425 {
  position: absolute;
  top: 6px;
  left: 37px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_425 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_425 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_425 span#rtr-s-Label_425_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_434 {
  position: absolute;
  top: 7px;
  left: 295px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_434 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_434 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_434 span#rtr-s-Label_434_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_38 {
  position: absolute;
  top: 3px;
  left: 145px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_38 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_38 span#rtr-s-Label_38_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Group_37 {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 34px;
  height: 6px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_14 .content {
  width: 6px;
  height: 6px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_14 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #shapewrapper-s-Ellipse_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_69 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_69 .content {
  width: 6px;
  height: 6px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_69 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #shapewrapper-s-Ellipse_69 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #shapewrapper-s-Ellipse_69 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #shapewrapper-s-Ellipse_69 span#rtr-s-Ellipse_69_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_70 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_70 .content {
  width: 6px;
  height: 6px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_70 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #shapewrapper-s-Ellipse_70 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #shapewrapper-s-Ellipse_70 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #shapewrapper-s-Ellipse_70 span#rtr-s-Ellipse_70_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_71 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_71 .content {
  width: 6px;
  height: 6px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_71 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #shapewrapper-s-Ellipse_71 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #shapewrapper-s-Ellipse_71 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #shapewrapper-s-Ellipse_71 span#rtr-s-Ellipse_71_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_72 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_72 .content {
  width: 6px;
  height: 6px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_72 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #shapewrapper-s-Ellipse_72 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #shapewrapper-s-Ellipse_72 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #shapewrapper-s-Ellipse_72 span#rtr-s-Ellipse_72_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_451 {
  position: absolute;
  top: 0px;
  left: 338px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_451 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_451 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_451 span#rtr-s-Label_451_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_74 {
  position: absolute;
  top: 3px;
  left: 298px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_74 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_74 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_74 span#rtr-s-Label_74_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_546 {
  position: absolute;
  top: 27px;
  left: 13px;
  width: 78px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_546 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_546 span {
  color: #22B573;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_546 span#rtr-s-Label_546_0 {
  color: #22B573;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Cell-content .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Cell-content .verticalalign {
  vertical-align: middle;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Cell-content {
  width: 375px;
  height: 603px;
  background-color: #FFFFFF;
  background-image: none;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Rectangle_1 {
  position: absolute;
  top: 1px;
  left: -1px;
  width: 371px;
  height: 595px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Rectangle_2 {
  position: absolute;
  top: 50px;
  left: -1px;
  width: 371px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Rectangle_3 {
  position: absolute;
  top: 131px;
  left: -1px;
  width: 371px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Text_1 {
  position: absolute;
  top: 55px;
  left: 81px;
  width: 293px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Text_2 {
  position: absolute;
  top: 137px;
  left: 18px;
  width: 293px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Image_1 {
  position: absolute;
  top: 52px;
  left: 22px;
  width: 46px;
  height: 41px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}