#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Input-form {
  border-collapse: separate;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Button_6 {
  -ms-transform: rotate(0.0deg);
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_89 {
  -ms-transform: rotate(0.0deg);
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_425 {
  -ms-transform: rotate(0.0deg);
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_434 {
  -ms-transform: rotate(0.0deg);
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_69 {
  -ms-transform: rotate(0.0deg);
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_70 {
  -ms-transform: rotate(0.0deg);
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_71 {
  -ms-transform: rotate(0.0deg);
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Ellipse_72 {
  -ms-transform: rotate(0.0deg);
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_451 {
  -ms-transform: rotate(0.0deg);
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_74 {
  -ms-transform: rotate(0.0deg);
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Label_546 {
  -ms-transform: rotate(0.0deg);
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-19c903e5-4dbb-4c7c-9301-ec2c865a5fc8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}