#s-2578a5c5-666a-4ac3-b713-bbac26c6736b > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Image_1 {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 377px;
  height: 670px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_2 {
  position: absolute;
  top: 617px;
  left: 20px;
  width: 58px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_2 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_2 span#rtr-s-Button_2_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_4 {
  position: absolute;
  top: 620px;
  left: 111px;
  width: 58px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_4 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_4 span#rtr-s-Button_4_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_3 {
  position: absolute;
  top: 620px;
  left: 203px;
  width: 58px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_3 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_3 span#rtr-s-Button_3_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_1 {
  position: absolute;
  top: 537px;
  left: -3px;
  width: 376px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Dialog-3 {
  position: absolute;
  top: 240px;
  left: 50px;
  width: 270px;
  height: 158px;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Rich_text_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 22px;
  width: 266px;
  height: 134px;
  background-color: #F8F8F8;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 4px 4px 4px 4px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  opacity: 0.95;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 13.000001pt;
  font-family: Roboto-Regular,Arial;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Rich_text_11 .valign {
  vertical-align: top;
  text-align: center;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Rich_text_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.000001pt;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Rich_text_11 span#rtr-s-Rich_text_11_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.000001pt;
  line-height: 0px;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Label_28 {
  position: absolute;
  top: 111px;
  left: 0px;
  width: 135px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Label_28 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Label_28 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Label_28 span#rtr-s-Label_28_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Label_29 {
  position: absolute;
  top: 111px;
  left: 135px;
  width: 135px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Label_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Label_29 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Label_29 span#rtr-s-Label_29_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}