#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Rich_text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2578a5c5-666a-4ac3-b713-bbac26c6736b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}