#s-3b74d585-91c2-448a-9745-609eff491ae2 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b74d585-91c2-448a-9745-609eff491ae2 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b74d585-91c2-448a-9745-609eff491ae2 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b74d585-91c2-448a-9745-609eff491ae2 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b74d585-91c2-448a-9745-609eff491ae2 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b74d585-91c2-448a-9745-609eff491ae2 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b74d585-91c2-448a-9745-609eff491ae2 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3b74d585-91c2-448a-9745-609eff491ae2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}