#s-4d9db0eb-448f-4361-a39d-09ccbb5b7451 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4d9db0eb-448f-4361-a39d-09ccbb5b7451 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4d9db0eb-448f-4361-a39d-09ccbb5b7451 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4d9db0eb-448f-4361-a39d-09ccbb5b7451 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4d9db0eb-448f-4361-a39d-09ccbb5b7451 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}