#s-81e6dd9c-4208-4553-831d-8467a11a0cce > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-email-detail-subject {
  position: absolute;
  top: 72px;
  left: 0px;
  width: 375px;
  height: 70px;
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Rich_text_65 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 360px;
  height: 70px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.96;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Rich_text_65 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Rich_text_65 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Rich_text_65 span#rtr-s-Rich_text_65_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Rich_text_65 span#rtr-s-Rich_text_65_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Line_48 {
  position: absolute;
  top: 69px;
  left: 15px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Rich_text_66 {
  position: absolute;
  top: 206px;
  left: 0px;
  padding-left: 15px;
  width: 360px;
  height: 45px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.96;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Rich_text_66 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Rich_text_66 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Rich_text_66 span#rtr-s-Rich_text_66_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Image_1 > svg {
  width: 28px;
  height: 28px;
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Image_1 {
  position: absolute;
  top: 214px;
  left: 324px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Image_2 > svg {
  width: 38px;
  height: 34px;
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Image_2 {
  position: absolute;
  top: 23px;
  left: 17px;
  width: 38px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}