#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Rich_text_65 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  filter: alpha(opacity=96);
  -ms-transform: rotate(0.0deg);
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Line_48 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Line_48 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Rich_text_66 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  filter: alpha(opacity=96);
  -ms-transform: rotate(0.0deg);
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-81e6dd9c-4208-4553-831d-8467a11a0cce > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}