#s-85e42bed-034e-4731-95a1-6d30e41a4d51 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 377px;
  height: 667px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_1 {
  position: absolute;
  top: 45px;
  left: 187px;
  width: 61px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_2 {
  position: absolute;
  top: 617px;
  left: 20px;
  width: 58px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_2 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_3 {
  position: absolute;
  top: 620px;
  left: 297px;
  width: 58px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_3 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_4 {
  position: absolute;
  top: 620px;
  left: 111px;
  width: 58px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_4 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}