#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-85e42bed-034e-4731-95a1-6d30e41a4d51 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}