#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 376px;
  height: 670px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_1 {
  position: absolute;
  top: 72px;
  left: 157px;
  width: 62px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_2 {
  position: absolute;
  top: 621px;
  left: 110px;
  width: 62px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_2 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_3 {
  position: absolute;
  top: 622px;
  left: 108px;
  width: 69px;
  height: 45px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_3 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_4 {
  position: absolute;
  top: 622px;
  left: 199px;
  width: 69px;
  height: 45px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_4 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_5 {
  position: absolute;
  top: 623px;
  left: 291px;
  width: 69px;
  height: 45px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_5 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-908a23c2-ab88-4fea-b327-4c41ebf74a66 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}