#s-94553073-d370-47fe-a12d-c89202fed817 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-94553073-d370-47fe-a12d-c89202fed817 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-94553073-d370-47fe-a12d-c89202fed817 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-94553073-d370-47fe-a12d-c89202fed817 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-94553073-d370-47fe-a12d-c89202fed817 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-94553073-d370-47fe-a12d-c89202fed817 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}