#s-a381f956-85e2-487f-92cc-b872bfa96f84 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a381f956-85e2-487f-92cc-b872bfa96f84 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a381f956-85e2-487f-92cc-b872bfa96f84 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a381f956-85e2-487f-92cc-b872bfa96f84 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a381f956-85e2-487f-92cc-b872bfa96f84 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a381f956-85e2-487f-92cc-b872bfa96f84 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a381f956-85e2-487f-92cc-b872bfa96f84 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}