#s-b4ccecd4-2f06-4240-8f18-130c3bdc3e74 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4ccecd4-2f06-4240-8f18-130c3bdc3e74 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4ccecd4-2f06-4240-8f18-130c3bdc3e74 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4ccecd4-2f06-4240-8f18-130c3bdc3e74 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b4ccecd4-2f06-4240-8f18-130c3bdc3e74 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}