#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 377px;
  height: 670px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 {
  position: absolute;
  top: 398px;
  left: 27px;
  width: 317px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 {
  position: absolute;
  top: 457px;
  left: 29px;
  width: 317px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_3 {
  position: absolute;
  top: 576px;
  left: 194px;
  width: 150px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_3 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_4 {
  position: absolute;
  top: 532px;
  left: 194px;
  width: 150px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_4 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_5 {
  position: absolute;
  top: 576px;
  left: 27px;
  width: 150px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_5 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}