#s-eb184f3c-0935-4b1f-8b18-e3601590aa11 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-eb184f3c-0935-4b1f-8b18-e3601590aa11 #s-Loading {
  -ms-transform: rotate(0.0deg);
}
#s-eb184f3c-0935-4b1f-8b18-e3601590aa11 #s-App-logo {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-eb184f3c-0935-4b1f-8b18-e3601590aa11 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}