#s-eb184f3c-0935-4b1f-8b18-e3601590aa11 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-eb184f3c-0935-4b1f-8b18-e3601590aa11 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-eb184f3c-0935-4b1f-8b18-e3601590aa11 #s-Splash-Screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 667px;
}
#s-eb184f3c-0935-4b1f-8b18-e3601590aa11 #s-Background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 667px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-eb184f3c-0935-4b1f-8b18-e3601590aa11 #s-Background .valign {
  vertical-align: middle;
  text-align: center;
}
#s-eb184f3c-0935-4b1f-8b18-e3601590aa11 #s-Background span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-eb184f3c-0935-4b1f-8b18-e3601590aa11 #s-Background span#rtr-s-Background_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-eb184f3c-0935-4b1f-8b18-e3601590aa11 #s-Loading {
  position: absolute;
  top: 408px;
  left: 175px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-eb184f3c-0935-4b1f-8b18-e3601590aa11 #s-App-logo {
  position: absolute;
  top: 91px;
  left: 115px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-eb184f3c-0935-4b1f-8b18-e3601590aa11 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}