#s-f8a8c2e6-0439-490f-9e69-4c6830258acd #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a8c2e6-0439-490f-9e69-4c6830258acd #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a8c2e6-0439-490f-9e69-4c6830258acd #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a8c2e6-0439-490f-9e69-4c6830258acd #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a8c2e6-0439-490f-9e69-4c6830258acd #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f8a8c2e6-0439-490f-9e69-4c6830258acd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}